body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 300px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.screen {
    grid-column: 1 / span 4;
    height: 40px;
    padding: 5px;
    text-align: right;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #ccc;
    }

    &.span-2 {
        grid-column: span 2;
    }

    &.span-3 {
        grid-column: span 3;
    }

    &.span-4 {
        grid-column: span 4;
    }
}
